/Hmwk/Assignment3/build/
/Hmwk/Assignment3/dist/
/Hmwk/Assignment6/build/
/Hmwk/Assignment6/dist/
/Proj/Project1_Complete/CIS17A_Project1/build/
/Proj/Project1_Complete/CIS17A_Project1/dist/
/Hmwk/Assignment7/build/
/Hmwk/Assignment7/dist/